{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <!-- banner -->
    <div class="bg-cover bg-no-repeat bg-center py-16 pl-10"
         style="background-image: url('https://img.freepik.com/free-photo/cinema-seats-still-life_23-2148115439.jpg?size=626&ext=jpg&ga=GA1.1.1883078379.1700440830&semt=ais');">
        <div class="container">
            <h2 class="text-4xl font-semibold text-left mb-3 text-secondary ">Book cinema movie <br> tickets easily</h2>
            <h3 class="text-xl text-left mb-8 text-white ">
                Browse through our movie lists<br>
                and choose the cinema seats easily
            </h3>
            <div class="mt-12 space-x-3">
                <a href="/register" class="bg-primary border border-primary text-white px-8 py-2 mx-1 font-medium
                    rounded-md hover:bg-transparent hover:text-primary">
                    Register for free
                </a>
                <a href="/category/top-rated" class="bg-primary border border-primary text-white px-8 py-2 mx-1 font-medium
                    rounded-md hover:bg-transparent hover:text-primary">
                    Our top rated movies
                </a>
            </div>
        </div>
    </div>
    <!-- ./banner -->

    <section class="mb-14 mt-10" id="now-playing-section">
        <h1 class="mb-5 text-center font-sans text-3xl font-semibold text-gray-800">Now playing</h1>
        <div class="mx-auto grid max-w-screen-lg justify-center px-4 sm:grid-cols-2 sm:gap-4 sm:px-8 md:grid-cols-4">
            {% for movie in nowPlayingMovies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="mb-4 mt-10 text-center ">
        <h1 class="mb-5 font-sans text-3xl font-semibold text-gray-800">Lorem ipsum, dolor sit amet consectetur</h1>
        <div class="mx-auto grid max-w-screen-lg justify-center px-4">
            <p class="mb-10 text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quae
                asperiores error hic minima dicta. Assumenda, enim. Voluptate facere ea eveniet quaerat neque ipsam iste
                corrupti sapiente sed! Temporibus, magni?</p>

        </div>
    </section>

    <section class="mb-14 mt-10" id="popular-section">
        <h1 class="mb-5 text-center font-sans text-3xl font-semibold text-gray-800">Popular</h1>
        <div class="mx-auto grid max-w-screen-lg justify-center px-4 sm:grid-cols-2 sm:gap-4 sm:px-8 md:grid-cols-4">
            {% for movie in popularMovies %}
                <article class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl">
                    <a href="/movie/{{ movie.tmdbId }}">
                        <div class="relative flex items-end overflow-hidden rounded-xl">
                            <img src="https://image.tmdb.org/t/p/w300/{{ movie.backdropPath }}" alt="Hotel Photo"/>
                            <div class="absolute bottom-3 left-3 inline-flex items-center rounded-lg bg-white p-2 shadow-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-secondary"
                                     viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
                                </svg>
                                <span class="text-slate-400 ml-1 text-sm">{{ movie.voteAverage | number_format(1) }}</span>
                            </div>
                        </div>

                        <div class="mt-1 p-2">
                            <h2 class="text-slate-700">{{ movie.originalTitle }}</h2>
                            <p class="text-slate-400 mt-1 text-sm">Thriller, Drama</p>

                            <div class="flex items-center justify-between py-2">
                                <p>
                                    <span class="text-xl font-bold text-primary">${{ movie.price }}</span>
                                </p>
                                <a href="#"
                                   class="bg-secondary flex items-center justify-center rounded-full px-5 py-1.5 text-center text-sm font-medium text-primary hover:bg-slate-200 hover:text-slate-700">
                                    View details</a>
                            </div>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>



{% endblock %}
