{% extends 'base.html.twig' %}

{% block title %}{{ movie['title'] }}{% endblock %}

{% block body %}

    <div class="mx-auto grid max-w-screen-lg justify-left px-4 mt-20">

        <!-- product-detail -->
        <div class="container grid grid-cols-3 gap-6">
            <div>
                <img src="{{ movie['poster_path'] }}" alt="product" class="w-full">
                <div class="flex justify-center gap-3 mt-6">
                    <a target="_blank" href="https://www.facebook.com/{{ movie['externalIds']['facebook_id'] }}"
                       class="text-primary hover:text-white hover:bg-primary h-8 w-8 rounded-full border border-primary flex items-center justify-center">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/{{ movie['externalIds']['twitter_id'] }}"
                       class="text-primary hover:text-white hover:bg-primary h-8 w-8 rounded-full border border-primary flex items-center justify-center">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/{{ movie['externalIds']['instagram_id'] }}"
                       class="text-primary hover:text-white hover:bg-primary h-8 w-8 rounded-full border border-primary flex items-center justify-center">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col-span-2">
                <h2 class="text-4xl font-medium uppercase mb-6">{{ movie['title'] }}</h2>

                <p class="text-gray-600 italic ">{{ movie['tagline'] }}</p>

                <div class="flex gap-0.5">
                    <svg class="h-8 w-8 shrink-0 fill-amber-400" viewBox="0 0 256 256">
                        <path
                                d="M239.2 97.4A16.4 16.4.0 00224.6 86l-59.4-4.1-22-55.5A16.4 16.4.0 00128 16h0a16.4 16.4.0 00-15.2 10.4L90.4 82.2 31.4 86A16.5 16.5.0 0016.8 97.4 16.8 16.8.0 0022 115.5l45.4 38.4L53.9 207a18.5 18.5.0 007 19.6 18 18 0 0020.1.6l46.9-29.7h.2l50.5 31.9a16.1 16.1.0 008.7 2.6 16.5 16.5.0 0015.8-20.8l-14.3-58.1L234 115.5A16.8 16.8.0 00239.2 97.4z">
                        </path>
                    </svg>
                    <svg class="h-8 w-8 shrink-0 fill-amber-400" viewBox="0 0 256 256">
                        <path
                                d="M239.2 97.4A16.4 16.4.0 00224.6 86l-59.4-4.1-22-55.5A16.4 16.4.0 00128 16h0a16.4 16.4.0 00-15.2 10.4L90.4 82.2 31.4 86A16.5 16.5.0 0016.8 97.4 16.8 16.8.0 0022 115.5l45.4 38.4L53.9 207a18.5 18.5.0 007 19.6 18 18 0 0020.1.6l46.9-29.7h.2l50.5 31.9a16.1 16.1.0 008.7 2.6 16.5 16.5.0 0015.8-20.8l-14.3-58.1L234 115.5A16.8 16.8.0 00239.2 97.4z">
                        </path>
                    </svg>
                    <svg class="h-8 w-8 shrink-0 fill-amber-400" viewBox="0 0 256 256">
                        <path
                                d="M239.2 97.4A16.4 16.4.0 00224.6 86l-59.4-4.1-22-55.5A16.4 16.4.0 00128 16h0a16.4 16.4.0 00-15.2 10.4L90.4 82.2 31.4 86A16.5 16.5.0 0016.8 97.4 16.8 16.8.0 0022 115.5l45.4 38.4L53.9 207a18.5 18.5.0 007 19.6 18 18 0 0020.1.6l46.9-29.7h.2l50.5 31.9a16.1 16.1.0 008.7 2.6 16.5 16.5.0 0015.8-20.8l-14.3-58.1L234 115.5A16.8 16.8.0 00239.2 97.4z">
                        </path>
                    </svg>
                    <svg class="h-8 w-8 shrink-0 fill-gray-300" viewBox="0 0 256 256">
                        <path
                                d="M239.2 97.4A16.4 16.4.0 00224.6 86l-59.4-4.1-22-55.5A16.4 16.4.0 00128 16h0a16.4 16.4.0 00-15.2 10.4L90.4 82.2 31.4 86A16.5 16.5.0 0016.8 97.4 16.8 16.8.0 0022 115.5l45.4 38.4L53.9 207a18.5 18.5.0 007 19.6 18 18 0 0020.1.6l46.9-29.7h.2l50.5 31.9a16.1 16.1.0 008.7 2.6 16.5 16.5.0 0015.8-20.8l-14.3-58.1L234 115.5A16.8 16.8.0 00239.2 97.4z">
                        </path>
                    </svg>
                    <svg class="h-8 w-8 shrink-0 fill-gray-300" viewBox="0 0 256 256">
                        <path
                                d="M239.2 97.4A16.4 16.4.0 00224.6 86l-59.4-4.1-22-55.5A16.4 16.4.0 00128 16h0a16.4 16.4.0 00-15.2 10.4L90.4 82.2 31.4 86A16.5 16.5.0 0016.8 97.4 16.8 16.8.0 0022 115.5l45.4 38.4L53.9 207a18.5 18.5.0 007 19.6 18 18 0 0020.1.6l46.9-29.7h.2l50.5 31.9a16.1 16.1.0 008.7 2.6 16.5 16.5.0 0015.8-20.8l-14.3-58.1L234 115.5A16.8 16.8.0 00239.2 97.4z">
                        </path>
                    </svg>
                </div>


                <div class="flex items-center">
                    <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-500" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">4.95</p>
                    <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">out of</p>
                    <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
                </div>


                <div class="flex items-center mb-4">
                    <div class="flex gap-1 text-sm text-yellow-400">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <div class="text-xs text-gray-500 ml-3">({{ movie['vote_count'] }} votes)</div>
                </div>
                <div class="space-y-2">

                    <p class="space-x-1">
                        {% for genre in movie['genres'] %}
                            <span class="text-primary font-semibold inline-flex items-center justify-center rounded-md px-2 py-1 text-xs font-medium border border-primary ">{{ genre.name }}</span>
                        {% endfor %}
                    </p>
                    <p class="space-x-2">
                        <span class="text-gray-800 font-semibold">Release date: </span>
                        <span class="text-gray-600">{{ movie['release_date'] | date('d.m.Y') }}</span>
                    </p>

                    <ul>
                        <li class="text-left">
                            <label for="accordion-4" class="relative flex flex-col rounded-md border border-gray-100 ">
                                <input class="peer hidden" type="checkbox" id="accordion-4"/>
                                <span class="absolute top-4 ml-auto mr-5 h-4 text-gray-500 transition peer-checked:hidden">[ Show actors ]</span>
                                <div class="hidden absolute top-4 ml-auto mr-5 h-4 text-gray-500 transition peer-checked:block">
                                    [ Hide actors ]
                                </div>
                                <div class="relative ml-4 cursor-pointer select-none items-center py-4 pr-12">
                                    <h3 class="text-sm text-gray-600 lg:text-base">&nbsp;</h3>
                                </div>
                                <div class="max-h-0 overflow-hidden transition-all duration-500 peer-checked:max-h-96">
                                    <div class="p-5">
                                        {% for actor in movie['cast'] %}
                                            <div class="flex-shrink-0 group block my-2">
                                                <div class="flex items-center">
                                                    <img class="inline object-cover h-10 w-10 rounded-full"
                                                         src="https://image.tmdb.org/t/p/original/{{ actor['profile_path'] }}"
                                                         alt="Image Description"/>
                                                    <div class="ms-3">
                                                        <h3>{{ actor['name'] }}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>


                <p class="mt-6 text-gray-600 leading-relaxed">{{ movie['overview'] }}</p>

                <p class="mt-6">
                    {% for keyword in movie['keywords'] %}
                        <span class="rounded-md px-2 py-1 text-xs font-medium text-gray-600 border border-gray-600 inline-flex items-center justify-center">{{ keyword['name'] }}</span>
                    {% endfor %}
                </p>


                <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                    <p class="text-3xl text-primary font-semibold">$77</p>
                    <p class="text-2xl text-gray-400 line-through">$55.00</p>
                </div>

                <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
                    <a href="#"
                       class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
                        <i class="fa-solid fa-ticket"></i> Buy tickets
                    </a>

                    <form action="/wishlist/add" method="POST">
                        <input type="hidden" id="movie_id" name="movie_id" value="{{ movie['id'] }}" />
                        <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}" />
                        <button type="submit" class="border border-gray-300 text-gray-600 px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:text-primary transition">
                            <i class="fa-solid fa-heart"></i> Wishlist
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- videos -->
        <div class="container pb-16">
            <div class="mx-auto grid max-w-screen-lg justify-left px-4  ">
                <p class="mt-6 text-2xl font-semibold text-gray-800">Videos</p>
                <hr class="mt-2 mb-4 border-t border-gray-300">
                <div class="grid grid-cols-3 gap-6">
                    {% for video in movie['videos'] %}
                        <iframe src="https://www.youtube.com/embed/{{ video['key'] }}" title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    {% endfor %}
                </div>

            </div>

        </div>
        <!-- ./videos -->

    </div>

{% endblock %}